<div class="container-fundo">
  <div class="container">
    <div class="texto-passagem">
      Compre aqui sua passagem
    </div>
    <div class="caixa-busca-passagem">
      <input type="text" placeholder="Digite aqui sua origem">
      <input type="text" placeholder="digite aqui seu destino">
      <input type="radio" name="txtIda" id="">Somente ida
      <input type="radio" name="txtVolta" id=""> Ida e Volta
      <input type="date" name="txtDataIda" id="">
      <input type="date" name="txtDataVolta" id="">
      <button>Buscar passagens</button>
    </div>
  </div>
</div>
